<ion-view view-title="pet.me" name="login-view" id="login-view">
  <ion-content class="padding">
  
      <div class="list list-inset"  style="background-color:transparent;padding-top:40px;" >
          <label class="item item-input" style="background-color:transparent;" >
              <input type="text" placeholder="Username" ng-model="data.reg_user" style="background-color:transparent;" >
          </label>
          <label class="item item-input" style="background-color:transparent;" >
              <input type="password" placeholder="Password" ng-model="data.reg_pass" style="background-color:transparent;" >
          </label>
      </div>
      
      <!--  take out ui-sef -->
      
      <button class="button button-block button-energized" ng-click="login()">Login</button>
        <br>
<label>Not a member?</label>
</br>
        <a class="button button-large button-outline button-light" ui-sref="welcome">Sign Up</a>

  

  </ion-content>
</ion-view>
