<!-- use the code below for the image gallery -->
<ion-slide-box active-slide="myActiveSlide">

  <!-- Pass -->
  <ion-slide>
    <h2>Welcome!</h2>
    <p>
      Thanks for trying my app.
    </p>
  </ion-slide>

  <!-- Current Page -->
  <ion-slide auto-play="true">
    <h2>Try this!</h2>
    <p>
      Tap the "Awesome" button anytime you want
      to feel a bit more awesome. It's easy!
    </p>
  </ion-slide>
  
  <!-- Pet -->
  <ion-slide>
    <h2>Welcome!</h2>
    <p>
      Thanks for trying my app.
    </p>
  </ion-slide>

  <!-- More slides here... -->
</ion-slide-box>

