<ion-view view-title="Register" name="register-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Enter Username" ng-model="data.reg_user">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Enter Password" ng-model="data.reg_pass">
          </label>
      </div>
    <a class="button" ui-sref="tab.dash">Register Now</a>
      
      <a href="/tab.dash" class="button button-balanced" ng-click="register()>Register Now</a>

     
  </ion-content>
</ion-view>
