<ion-view view-title="Register" name="register-view">
  <ion-content class="padding">
	<label>User Registration</label>
	<!-- add in link to edit profile page -->
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Enter Username" ng-model="data.reg_user">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Enter Password" ng-model="data.reg_pass">
          </label>
      </div>

       <a class="button button-block button-dark"  ng-click="register()">Register</a>


   <a class="button button-block button-dark" ui-sref="login">Cancel</a>

      


     
  </ion-content>
</ion-view>
