 <ion-view view-title="EditProfile" name="editProfile-view">
  <ion-content class="padding">
    <!--  add in some link to view profile 
    <button onclick="capturePhoto();">Capture Photo</button><br>
    <button onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>
    <img id="image" src="" style="display:none;width:100%;">
    -->
    
    <div class="list list-inset">
          <label class="item item-input"> Edit Bio:
              <input type="text" placeholder="Enter Username" ng-model="data.reg_user">
          </label>
    </div>  
    <a class="button button-block button-dark"  ng-click="register()">Save Changes</a>   
  </ion-content>
</ion-view>
 
