<ion-view view-title="pet.me" name="welcome-view" id="welcome-view" >
  <ion-content class="padding">
  
     
  <br><br><br>
<label id="welcome_label1">                 Welcome to pet.me</label><br><br><br>
<p id="welcome_paragraph1">Pet.me is a location-based dating app that allows users to bond through their mutual love of animal companions.</p>
      
      
      <label id="welcome_lablel1">    Congratulations on Taking The First Step Towards Your Journey of Love</label><br><br><br>
        <a class="button button-large button-outline button-light" ui-sref="register" id="reg_button1" >Start My Journey</a>

  

  </ion-content>
</ion-view>
